@model List<PSTodos.Mvc.ViewModels.PerfilViewModel>


<select id="perfis">
    <option value="" disabled selected>Selecione o perfil desejado</option>
    @foreach(var item in Model)
    {
        <option value="@item.Id" @(item.Ativo ? "" : "disabled")>@item.Nome @(item.Ativo ? "" : "(Inativo)")</option>
    }    
</select>