@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <br><br>
    <h1 class="header center orange-text">Processo Seletivo</h1>
    <div class="row center">
        <h5 class="header col s12 light">Aplicação desenvolvida em ASP.Net MVC 5</h5>
    </div>
    <br><br>

</div>