<h4 style="float: left">Cadastro de Usuário</h4>
<div class="row">
  <form #usuarioForm="ngForm" (ngSubmit)="cadastrarUsuario()" class="col s12" novalidate>
      <div class="row">
          <div class="input-field col s6">
            <input type="text" name="login" class="validate"
                   required maxlength="20" id="login"
                   [(ngModel)]="usuario.login" #login="ngModel"/>
            <label for="login" data-success="Ok">Login</label>
            <div *ngIf="login.errors && (login.dirty || login.touched)">
              <div [hidden]="!login.errors.maxlenght" 
                    class="red-text">Tamanho máximo de 20 caracteres.
              </div>
              <div [hidden]="!login.errors.required" 
                    class="red-text">Campo obrigatório.
              </div>
            </div>   
          </div>
          <div class="input-field col s6">
            <input type="text" name="nome" class="validate"
                   required maxlength="250" id="nome"
                   [(ngModel)]="usuario.nome" #nome="ngModel"/>
            <label for="nome" data-success="Ok">Nome</label>
            <div *ngIf="nome.errors && (nome.dirty || nome.touched)">
              <div [hidden]="!nome.errors.maxlenght" 
                    class="red-text">Tamanho máximo de 250 caracteres.
              </div>
              <div [hidden]="!nome.errors.required" 
                    class="red-text">Campo obrigatório.
              </div>
            </div>     
          </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <input type="text" name="email" class="validate"
                   required maxlength="150" id="email"
                   [(ngModel)]="usuario.email" #email="ngModel"/>
            <label for="email" data-success="Ok">Email</label>
            <div *ngIf="email.errors && (email.dirty || email.touched)">
              <div [hidden]="!email.errors.maxlenght" 
                    class="red-text">Tamanho máximo de 150 caracteres.
              </div>
              <div [hidden]="!email.errors.required" 
                    class="red-text">Campo obrigatório.
              </div>
            </div>   
          </div>
          <div class="input-field col s6">
            <input type="text" name="senha" class="validate"
                   required maxlength="50" id="senha"
                   [(ngModel)]="usuario.senha" #senha="ngModel"/>
            <label for="senha" data-success="Ok">Senha</label>
            <div *ngIf="senha.errors && (senha.dirty ||senha.touched)">
              <div [hidden]="!senha.errors.maxlenght" 
                    class="red-text">Tamanho máximo de 50 caracteres.
              </div>
              <div [hidden]="!senha.errors.required" 
                    class="red-text">Campo obrigatório.
              </div>
            </div>   
          </div>
      </div>
      <div class="row">
        <div class="input-field col s6">  
          <input type="checkbox" name="ativo" id="ativo" [(ngModel)]="usuario.ativo">     
          <label for="ativo">Ativo</label>   
        </div>
        <div class="input-field col s6">
          <input type="text" name="dtInclusao" id="dtInclusao"
                  [ngModel]="usuario.dtInclusao | date: 'dd/MM/yyyy'" #dtInclusao="ngModel" disabled/>
          <label for="dtInclusao" data-success="Ok" class="active">Data de Inclusão</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn" type="submit" [disabled]="!usuarioForm.valid"><i class="material-icons left">save</i>salvar</button>
  </form>
</div>