<nav class="teal" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo">{{title}}</a>
    <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/usuarios" >Usuários</a></li>
      <li routerLinkActive="active"><a routerLink="/perfis">Perfis</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li routerLinkActive="active"><a routerLink="/usuarios">Usuários</a></li>
      <li routerLinkActive="active"><a routerLink="/perfis">Perfis</a></li>
    </ul>

    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>